@using Resources
@model Trezorix.Sparql.Api.Core.Accounts.Account

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hi";
}

<script> app.config.apiRoot = '@Url.Content("~/Account")'; </script>
<script src="~/Static/js/account.js"> </script>
<div>@EditorStrings.Welcome @Model.UserName</div>

<div class="container" data-ng-app="AccountEditor">
    <div class="container" data-ng-controller="AccountCtrl">
        <div class="container">
            
            <form name="myForm">
                <div id="naw" class="well">
                    <div class="control-group" data-ng-class="{error: myForm.Voornaam.$invalid}">
                        <label>Voornaam</label>
                        <input type="text" name="Voornaam" class="form-control" data-ng-model="account.Naam.Voornaam" required>
                        <span data-ng-show="myForm.Voornaam.$error.required" class="help-inline">@EditorStrings.Required</span>
                    </div>
      
                    <div class="control-group">
                        <label>Tussenvoegsel</label>
                        <input type="text" name="Tussenvoegsel" class="form-control" data-ng-model="account.Naam.Tussenvoegsel">
                    </div>

                    <div class="control-group" data-ng-class="{error: myForm.Achternaam.$invalid}">
                        <label>Achternaam</label>
                        <input type="text" name="Achternaam" class="form-control" data-ng-model="account.Naam.Achternaam" required>
                        <span data-ng-show="myForm.Achternaam.$error.required" class="help-inline">@EditorStrings.Required</span>
                    </div>
                    <p></p>
                    <a href="/Account" class="btn btn-sm btn-danger">@EditorStrings.Cancel</a>
                    <button data-ng-click="save()" class="btn btn-sm btn-primary">@EditorStrings.Save</button>
                </div>
            </form>      
                            

        </div>
    </div>
</div>