@using Resources
@model IEnumerable<Trezorix.Sparql.Api.Core.Accounts.Account>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Account overzicht";
}
<script>
	app.config.apiRoot = '@Url.Content("~/Account")';
</script>
@section Scripts
{
	<script src="~/Static/js/Account.js"> </script>
}

<p>&#160;</p>

<div data-ng-app="AccountEditor" data-ng-controller="IndexController" data-ng-model="data">
	
	<div class="panel panel-default" >
		<div id="account_" class="panel-heading form-inline" data-ng-click="toggleGroup($event, '')">
			<strong style="font-size: 1.5em">Algemeen</strong>
			<a href="@Url.Content("Account/new")" class="btn btn-sm btn-primary pull-right space-below">@EditorStrings.CreateAccount</a>
		</div>

		<table class="table table-striped" data-ng-show="isGroupVisible('')">
			<tbody>
				@foreach (var account in Model.OrderBy(a => a.FullName))
				{
					<tr>
						<td>@account.FullName</td>
						<td>@account.Id</td>
						<td style="width: 5%">
              <button type="button" data-ng-click="deleteAccount('@account.Id')" class="btn pull-right glyphicon glyphicon-trash icon" title="@EditorStrings.Delete"> </button>

							@*								@using (Html.BeginForm("Delete", "Query", new {id = query.Id}, FormMethod.Post, new {@class = "form-inline pull-right"}))
								{
									<input type="submit" class="btn btn-sm @(ViewBag.Account == null ? "disabled" : "")" value="@EditorStrings.Delete" />
								}*@
						</td>
						<td style="width: 5%">
              <a href="@Url.Content("Account/" + account.Id)" class="btn btn-default pull-right glyphicon glyphicon-pencil icon" title="@EditorStrings.Edit"> </a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>