@using Resources
<div class="form-group row">
  <div class="col-lg-12">
    <div class="alert alert-success" data-ng-show="false">
      Query is opgeslagen...
    </div>
    @*<button data-ng-click="delete()" class="btn btn-sm btn-danger">@EditorStrings.Delete</button>*@
    <div class="row">
      <div class="col-lg-6 control-group">
        <button data-ng-click="duplicate()" class="btn btn-info">@EditorStrings.Duplicate</button>
        <button data-ng-click="preview()" class="btn btn-info">@EditorStrings.Preview</button>
      </div>
      <div class="col-lg-6">
        <div class="control-group pull-right">
          <button data-ng-click="cancel()" class="btn btn-danger">@EditorStrings.Cancel</button>
          <button data-ng-click="save()" data-ng-disabled="queryForm.$pristine || (queryForm.$dirty && queryForm.$invalid)" class="btn btn-primary">@EditorStrings.Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
