@using Resources
@using Trezorix.Sparql.Api.Core.Accounts
@using Trezorix.Sparql.Api.Core.Configuration
@model Trezorix.Sparql.Api.Admin.Models.Queries.GroupedQueryModel

<p>&#160;</p>

<div data-ng-model="data">
	
	@foreach (var group in Model.Groups.OrderBy(g => g.Label))
	{
		<div class="panel panel-default" >
			<!-- Default panel contents -->
			<div id="group_@group.Id" class="panel-heading form-inline" data-ng-click="toggleGroup($event, '@group.Id')">
				<strong style="font-size: 1.5em">@group.Label</strong>
				@*<button data-ng-click="toggleEdit('@group.Id');" class="btn btn-sm btn-default">bewerken</button>
				<input data-ng-show="isGroupEdit('@group.Id')" type="text" value="@group.Label" class="form-control input-small"/>*@	
        <a href="#/query/new?group=@(group.Id)" class="btn btn-sm btn-primary pull-right space-below">@EditorStrings.CreateQuery</a>
			</div>
		
			<table class="table table-striped" data-ng-show="isGroupVisible('@group.Id')">
				<tbody>
					@foreach (var query in group.Items.OrderBy(q => q.Id))
					{
						string queryUrl = ApiConfiguration.Current.QueryApiUrl + "/" + query.Id + 
							"?api_key=" + OperatingAccount.Current().ApiKey.ToString() + 
							query.Parameters.Aggregate("", (current, queryParameter) => current + ("&" + queryParameter.Name + "=" + (queryParameter.SampleValue ?? "")));
						<tr>
						  <td>
                <a href="#/query/@(query.Id)">@query.Id</a>
						  </td>
							<td style="width: 5%">
                <a href="@queryUrl" target="_blank" class="btn pull-right glyphicon glyphicon-eye-open icon" title="@query.Id"> </a>
							</td>
							<td style="width: 5%">
							  <button type="button" data-ng-click="deleteQuery('@query.Id')" class="btn pull-right glyphicon glyphicon-trash icon" title="@EditorStrings.Delete"> </button>
							</td>
							<td style="width: 5%">
								<a href="#/query/@(query.Id)" class="btn btn-default pull-right glyphicon glyphicon-pencil icon" title="@EditorStrings.Edit"> </a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}

</div>