@using Resources
@using Trezorix.Sparql.Api.Core.Accounts
@using Trezorix.Sparql.Api.Core.Configuration
@model Trezorix.Sparql.Api.Admin.Models.Queries.GroupedQueryModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Query overzicht";
}
<script>
  app.config.apiRoot = '@Url.Content("~/Query")';
</script>

@section Scripts
{
	<script src="~/Static/js/Query.js"> </script>
}

<p>&#160;</p>

<div data-ng-app="QueryEditor" data-ng-controller="IndexController" data-ng-model="data">
	
	@foreach (var group in Model.Groups.OrderBy(g => g.Label))
	{
		<div class="panel panel-default" >
			<!-- Default panel contents -->
			<div id="group_@group.Id" class="panel-heading form-inline" data-ng-click="toggleGroup($event, '@group.Id')">
				<strong style="font-size: 1.5em">@group.Label</strong>
				@*				
				<button data-ng-click="toggleEdit('@group.Id');" class="btn btn-sm btn-default">bewerken</button>
				<input data-ng-show="isGroupEdit('@group.Id')" type="text" value="@group.Label" class="form-control input-small"/>	
				*@
				<a href="@Url.Content("Query/new?group=" + group.Id)" class="btn btn-sm btn-primary pull-right space-below">@EditorStrings.CreateQuery</a>
			</div>
		
			<table class="table" data-ng-show="isGroupVisible('@group.Id')">
				<tbody>
					@foreach (var query in group.Items.OrderBy(q => q.Id))
					{
						string queryUrl = ApiConfiguration.Current.QueryApiUrl + "/" + query.Id + 
							"?api_key=" + OperatingAccount.Current().ApiKey.ToString() + 
							query.Parameters.Aggregate("", (current, queryParameter) => current + ("&" + queryParameter.Name + "=" + (queryParameter.SampleValue ?? "")));
						<tr>
							<td><a href="@queryUrl" target="_blank">@query.Id</a></td>
							<td style="width: 10%">
								<button type="button" data-ng-click="deleteQuery('@query.Id')" class="btn btn-sm">@EditorStrings.Delete</button>

								@*								@using (Html.BeginForm("Delete", "Query", new {id = query.Id}, FormMethod.Post, new {@class = "form-inline pull-right"}))
								{
									<input type="submit" class="btn btn-sm @(ViewBag.Account == null ? "disabled" : "")" value="@EditorStrings.Delete" />
								}*@
							</td>
							<td style="width: 10%">
								<a href="@Url.Content("Query/" + query.Id)" class="btn btn-sm btn-default pull-right">@EditorStrings.Edit</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}

</div>